body {
text-align: center;
padding: 130px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: black;
color:black;
background-image: url(Images/Magical.jpg);
background-repeat: no-repeat;
background-size: cover;

}
div {
    margin: 20px;
}
.Border {
border: 3px solid black;
width: 300px;
margin: 0 auto;
}

